<div class="card">
  <div class="card-header">

  <h2>Sign up</h2>

  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <%= f.radio_button :user_type, "teacher", class: "btn-check", id: "teacher", autocomplete: "off", checked: true %>
      <label class="btn btn-outline-primary" for="teacher">Teacher</label>

      <%= f.radio_button :user_type, "student", class: "btn-check", id: "student", autocomplete: "off" %>
      <label class="btn btn-outline-primary" for="student">Student</label>

      <%= f.radio_button :user_type, "professional", class: "btn-check", id: "professional", autocomplete: "off" %>
      <label class="btn btn-outline-primary" for="professional">Professional</label>

      <%= f.radio_button :user_type, "school_lead", class: "btn-check", id: "school_lead", autocomplete: "off" %>
      <label class="btn btn-outline-primary" for="school_lead">School Leader</label>
    </div>

    <div class="field form-group">
      <% f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control", placeholder: "User Full Name" %>
      <br />
    </div>

    <div class="field form-group">
      <% f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "name@email.com" %>
      <br />
    </div>

    <div class="field form-group">
      <% f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: "Password" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>

    <div class="field form-group">
      <% f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder: "Confirm Password" %>
    </div>

    <br>
    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-secondary" %>
    </div>
    <% end %>
  </div>
</div>
<br>
<%= render "devise/shared/links" %>
