<%= form_with(model: professional) do |form| %>
  <% if professional.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(professional.errors.count, "error") %> prohibited this professional from being saved:</h2>

      <ul>
        <% professional.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :industry, style: "display: block" %>
    <%= form.text_field :industry %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :proj_avail, style: "display: block" %>
    <%= form.number_field :proj_avail %>
  </div>

  <div>
    <%= form.label :class_eng, style: "display: block" %>
    <%= form.number_field :class_eng %>
  </div>

  <div>
    <%= form.label :student_exp, style: "display: block" %>
    <%= form.number_field :student_exp %>
  </div>

  <div>
    <%= form.label :teacher_mentor, style: "display: block" %>
    <%= form.number_field :teacher_mentor %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
