<%= form_with(model: professional) do |form| %>
  <% if professional.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(professional.errors.count, "error") %> prohibited this professional from being saved:</h2>

      <ul>
        <% professional.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Full Name</span>
    <%= form.text_field :name, class:"form-control", placeholder:"Full Name", aria_label:"Full Name", aria_describedby:"basic-addon1" %>
  </div>

  <div class="input-group mb-3">
    <%= form.text_field :email, class:"form-control", placeholder:"Professional Email", aria_label:"Professional Email", aria_describedby:"basic-addon2" %>
    <span class="input-group-text" id="basic-addon2">professional@example.com</span>
  </div>

  <label for="basic-url" class="form-label">LinkedIn Profile Link</label>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">https://www.linkedin.com/in/your-name</span>
    <%= form.text_field :linked_in, class:"form-control", id:"basic-url", placeholder: "Copy link and update with your name from LinkedIn",aria_describedby:"basic-addon3" %>
  </div>

  <label for="basic-org" class="form-label">Current Organization</label>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon4">Company or Business</span>
    <%= form.text_field :organization, class:"form-control", id:"basic-org", placeholder: "Neuralink",aria_describedby:"basic-addon4" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon5">Job Title</span>
    <%= form.text_field :occupation, class:"form-control", id:"basic-job", placeholder: "Synapse Engineer",aria_describedby:"basic-addon5" %>
  </div>

  <div class="input-group">
    <span class="input-group-text">Job Description</span>
    <%= form.text_area :description, class:"form-control", rows:3, aria_label:"Job description", placeholder: "Describe your job to inspire a high school student" %>
  </div><br>

  <div class="row mb-3">
    <%= form.label "Profile Picture", style: "display: block" %>
    <%= form.file_field :avatar, class: "form-control-file" %>
  </div>

  <div class="container text-center">
    <p>Select your availability for possible partnership opportunities below</p>
    <div class="row justify-content-around">
      <div class="col-2">
        <br><br><br>
        <div class="form-check form-switch form-check-reverse">
          <%= form.check_box :field_trip, class:"form-check-input", type:"checkbox", value:"", id:"flexSwitchCheckReverse" %>
          <label class="form-check-label" for="flexSwitchCheckReverse">
            Field Trip
          </label>
        </div>
        <div class="form-check form-switch form-check-reverse">
          <%= form.check_box :class_speaker, class:"form-check-input", type:"checkbox", value:"", id:"flexSwitchCheckReverse" %>
          <label class="form-check-label" for="flexSwitchCheckReverse">
            Class Speaker
          </label>
        </div>
        <div class="form-check form-switch form-check-reverse">
          <%= form.check_box :lunch, class:"form-check-input", type:"checkbox", value:"", id:"flexSwitchCheckReverse" %>
          <label class="form-check-label" for="flexSwitchCheckReverse">
            Power Lunches
          </label>
        </div>
      </div>
      <div class="col-10">
        <%= image_tag "CareerAwareness.jpg", width: 900, height: 200 %>
      </div>
    </div>
    <br><br>

    <div class="row justify-content-around">
      <div class="col-10">
        <%= image_tag "CareerExploration.jpg", width: 900, height: 200 %>
      </div>
      <div class="col-2">
        <br><br><br>
        <div class="form-check form-switch">
          <%= form.check_box :job_shadow, class:"form-check-input", type:"checkbox", value:"", id:"flexSwitchCheckDefault" %>
          <label class="form-check-label" for="flexSwitchCheckDefault">
            Job Shadow
          </label>
        </div>
        <div class="form-check form-switch">
          <%= form.check_box :career_fair, class:"form-check-input", type:"checkbox", value:"", id:"flexSwitchCheckDefault" %>
          <label class="form-check-label" for="flexSwitchCheckDefault">
            Career Fair
          </label>
        </div>
        <div class="form-check form-switch">
          <%= form.check_box :mentorship, class:"form-check-input", type:"checkbox", value:"", id:"flexSwitchCheckDefault" %>
          <label class="form-check-label" for="flexSwitchCheckDefault">
            Mentorship
          </label>
        </div>
      </div>
    </div>
    <br><br>

    <div class="row justify-content-around">
      <div class="col-2">
        <br><br><br>
        <div class="form-check form-switch form-check-reverse">
          <%= form.check_box :proj_pitch, class:"form-check-input", type:"checkbox", value:"", id:"flexSwitchCheckReverse" %>
          <label class="form-check-label" for="flexSwitchCheckReverse">
            Project Pitches
          </label>
        </div>
        <div class="form-check form-switch form-check-reverse">
          <%= form.check_box :proj_consult, class:"form-check-input", type:"checkbox", value:"", id:"flexSwitchCheckReverse" %>
          <label class="form-check-label" for="flexSwitchCheckReverse">
            Project Consultations
          </label>
        </div>
        <div class="form-check form-switch form-check-reverse">
          <%= form.check_box :proj_collab, class:"form-check-input", type:"checkbox", value:"", id:"flexSwitchCheckReverse" %>
          <label class="form-check-label" for="flexSwitchCheckReverse">
            Project Collaborations
          </label>
        </div>
      </div>
      <div class="col-10">
        <%= image_tag "IndustryProjects.jpg", width: 900, height: 200 %>
      </div>
    </div>
    <br><br>
    
    <div class="row justify-content-around">
      <div class="col-10">
        <%= image_tag "CareerPrep.jpg", width: 900, height: 200 %>
      </div>
      <div class="col-2">
        <br><br><br>
        <div class="form-check form-switch">
          <%= form.check_box :student_wbl, class:"form-check-input", type:"checkbox", value:"", id:"flexSwitchCheckDefault" %>
          <label class="form-check-label" for="flexSwitchCheckDefault">
            Work Based Learning for Students
          </label>
        </div>
        <div class="form-check form-switch">
          <%= form.check_box :externship, class:"form-check-input", type:"checkbox", value:"", id:"flexSwitchCheckDefault" %>
          <label class="form-check-label" for="flexSwitchCheckDefault">
            Teacher Externship
          </label>
        </div>
      </div>
    </div><br><br>

    <div class="container text-center">
      <p>Top skills you would like to share with students</p>

      <div class="input-group">
        <span class="input-group-text">Skill 1</span>
        <%= form.text_area :skill_1, class:"form-control", rows:2, aria_label:"Skill 1", placeholder: "Analyzing brainscans to learn about neural connections" %>
      </div><br>

      <div class="input-group">
        <span class="input-group-text">Skill 2</span>
        <%= form.text_area :skill_2, class:"form-control", rows:2, aria_label:"Skill 2", placeholder: "Pitching investors to get funding for scientific research" %>
      </div><br>

      <div class="input-group">
        <span class="input-group-text">Skill 3</span>
        <%= form.text_area :skill_3, class:"form-control", rows:2, aria_label:"Skill 3", placeholder: "Getting approval for animal studies and publishing results" %>
      </div><br>

      <div class="input-group">
        <span class="input-group-text">Skill 4</span>
        <%= form.text_area :skill_4, class:"form-control", rows:2, aria_label:"Skill 4", placeholder: "Working in an innovative lab setting with diverse team members" %>
      </div><br>

      <div class="input-group">
        <span class="input-group-text">Skill 5</span>
        <%= form.text_area :skill_5, class:"form-control", rows:2, aria_label:"Skill 5", placeholder: "Applying the latest science and technology innovations to solve problems" %>
      </div><br>
    </div><br>

    <div class="row justify-content-around">
      <div class="col-2 align-self-center">
        <div class="form-check form-switch">
          <%= form.check_box :is_currently_available, class:"form-check-input", type:"checkbox", value:"", id:"flexSwitchCheckDefault" %>
          <label class="form-check-label" for="flexSwitchCheckDefault">
            <b>Professional is Available for a New Teacher Partnership</b>
          </label>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <%= form.number_field :relationship_points, class:"form-control", value: 1, type: :hidden %>
    </div>

    <%= form.select :user_id, options_from_collection_for_select(@users, "id", "name") %>
    <br><br>

    <div class="actions">
      <%= form.submit "Create New Professional Partner Now", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
