<div id="<%= dom_id professional %>">
  <p>
    <strong>Name:</strong>
    <%= professional.name %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= professional.industry %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= professional.description %>
  </p>

  <p>
    <strong>Proj avail:</strong>
    <%= professional.proj_avail %>
  </p>

  <p>
    <strong>Class eng:</strong>
    <%= professional.class_eng %>
  </p>

  <p>
    <strong>Student exp:</strong>
    <%= professional.student_exp %>
  </p>

  <p>
    <strong>Teacher mentor:</strong>
    <%= professional.teacher_mentor %>
  </p>

</div>
