<p style="color: green"><%= notice %></p>

<h1>Professionals</h1>

<%= content_tag :div, class: "container mt-5" do %>
  <div class="row">
    <% @professionals.each do |professional| %>
      <div class="col-md-4 mb-4">
        <%= link_to professional do %>
          <% if professional.is_currently_available %>
            <div class="card text-bg-success mb-3">
          <% else %>
            <div class="card text-bg-secondary mb-3">
          <% end %>
            <% if !professional.avatar.attached? %>
              <%= image_tag "dv-schools-logo.jpg", class: "card-img-top" %>
            <% else %>
              <%= image_tag professional.avatar, class: "card-img-top" %>
            <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= professional.name %></h5>
                <p class="card-text"><b><%= professional.occupation %></b></p>
                <p class="card-text"><%= professional.description %></p>
                <p class="card-text"><b>Availability</b></p>
                <p class="card-text">
                  <ul>
                    <% counter = 0 %>
                    <% case professional.field_trip %>
                      <% when true %>
                        <% if counter < 2 %>
                          <li>Field Trip</li>
                          <% counter += 1 %>
                        <% end %>
                      <% end %>
                    <% case professional.class_speaker %>
                      <% when true %>
                        <% if counter < 2 %>
                          <li>Class Speaker</li>
                          <% counter += 1 %>
                        <% end %>
                      <% end %>
                    <% case professional.lunch %>
                      <% when true %>
                        <% if counter < 2 %>
                          <li>Power Lunches</li>
                          <% counter += 1 %>
                        <% end %>
                      <% end %>
                    <% case professional.job_shadow %>
                      <% when true %>
                        <% if counter < 2 %>
                          <li>Job Shadow</li>
                          <% counter += 1 %>
                        <% end %>
                      <% end %>
                    <% case professional.career_fair %>
                      <% when true %>
                        <% if counter < 2 %>
                          <li>Career Fair</li>
                          <% counter += 1 %>
                        <% end %>
                      <% end %>
                    <% case professional.mentorship %>
                      <% when true %>
                        <% if counter < 2 %>
                          <li>Mentorship</li>
                          <% counter += 1 %>
                        <% end %>
                      <% end %>
                    <% case professional.proj_pitch %>
                      <% when true %>
                        <% if counter < 2 %>
                          <li>Project Pitches</li>
                          <% counter += 1 %>
                        <% end %>
                      <% end %>
                    <% case professional.proj_consult %>
                      <% when true %>
                        <% if counter < 2 %>
                          <li>Project Consultations</li>
                          <% counter += 1 %>
                        <% end %>
                      <% end %>
                    <% case professional.proj_collab %>
                      <% when true %>
                        <% if counter < 2 %>
                          <li>Project Collaborations</li>
                          <% counter += 1 %>
                        <% end %>
                      <% end %>
                    <% case professional.student_wbl %>
                      <% when true %>
                        <% if counter < 2 %>
                          <li>Work Based Learning</li>
                          <% counter += 1 %>
                        <% end %>
                      <% end %>
                    <% case professional.externship %>
                      <% when true %>
                        <% if counter < 2 %>
                          <li>Teacher Externship</li>
                          <% counter += 1 %>
                        <% end %>
                      <% end %>
                    <% if counter == 2 %>
                      <li>And many more. Click card for more details.</li>
                    <% end %>
                  </ul>
                </p>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if policy(:Professional).create? %>
  <%= link_to "New Professional Partner", new_professional_path, class:"btn btn-success" %>
<% end %>