<p style="color: green"><%= notice %></p>

<%= render @professional %>

<div>
  <%= link_to "Edit this professional", edit_professional_path(@professional),  class:"btn btn-secondary" %>
  <%= link_to "Delete", @professional, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <%= link_to "Back to professionals", professionals_path,  class:"btn btn-dark" %>
</div>
