<p style="color: green"><%= notice %></p>

<%= render @professional %>

<div>
  <%= link_to "Connect with this professional", professional_connect_email_path(@professional),  method: :post, class:"btn btn-info" %>
  <% if policy(@professional).destroy? %>
    <%= link_to "Edit this professional", edit_professional_path(@professional),  class:"btn btn-secondary" %>
    <%= link_to "Delete", @professional, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <% end %>
  <%= link_to "Back to professionals", professionals_path,  class:"btn btn-dark" %>
</div>
