<div id="<%= dom_id admin %>">
  <p>
    <strong>Ikigai:</strong>
    <%= admin.ikigai %>
  </p>

  <p>
    <strong>Interest 1:</strong>
    <%= admin.interest_1 %>
  </p>

  <p>
    <strong>Interest 2:</strong>
    <%= admin.interest_2 %>
  </p>

  <p>
    <strong>Interest 3:</strong>
    <%= admin.interest_3 %>
  </p>

  <p>
    <strong>Interest 4:</strong>
    <%= admin.interest_4 %>
  </p>

  <p>
    <strong>Interest 5:</strong>
    <%= admin.interest_5 %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= admin.birthday %>
  </p>

  <p>
    <strong>School:</strong>
    <%= admin.school %>
  </p>

  <p>
    <strong>School goal 1:</strong>
    <%= admin.school_goal_1 %>
  </p>

  <p>
    <strong>School goal 2:</strong>
    <%= admin.school_goal_2 %>
  </p>

  <p>
    <strong>School goal 3:</strong>
    <%= admin.school_goal_3 %>
  </p>

</div>
