<div id="<%= dom_id student %>">
  <p>
    <strong>Ikigai:</strong>
    <%= student.ikigai %>
  </p>

  <p>
    <strong>Interest 1:</strong>
    <%= student.interest_1 %>
  </p>

  <p>
    <strong>Interest 2:</strong>
    <%= student.interest_2 %>
  </p>

  <p>
    <strong>Interest 3:</strong>
    <%= student.interest_3 %>
  </p>

  <p>
    <strong>Interest 4:</strong>
    <%= student.interest_4 %>
  </p>

  <p>
    <strong>Interest 5:</strong>
    <%= student.interest_5 %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= student.birthday %>
  </p>

  <p>
    <strong>Career goal:</strong>
    <%= student.career_goal %>
  </p>

</div>
