<div id="<%= dom_id portfolio %>">
  <p>
    <strong>Ikigai:</strong>
    <%= portfolio.ikigai %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= portfolio.description %>
  </p>

  <p>
    <strong>post_type:</strong>
    <%= portfolio.post_type %>
  </p>

  <p>
    <%= image_tag(portfolio.avatar) if portfolio.avatar.attached? %>
  </p>

</div>
