<div id="<%= dom_id competency %>">
  <p>
    <strong>Name:</strong>
    <%= competency.name %>
  </p>

  <p>
    <strong>Short desc:</strong>
    <%= competency.short_desc %>
  </p>

  <p>
    <strong>Long desc:</strong>
    <%= competency.long_desc %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= competency.industry %>
  </p>

  <p>
    <strong>Primary class:</strong>
    <%= competency.primary_class %>
  </p>

  <p>
    <strong>Secondary class:</strong>
    <%= competency.secondary_class %>
  </p>

  <p>
    <strong>Mastery1:</strong>
    <%= competency.mastery1 %>
  </p>

  <p>
    <strong>Mastery2:</strong>
    <%= competency.mastery2 %>
  </p>

  <p>
    <strong>Mastery3:</strong>
    <%= competency.mastery3 %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= competency.owner %>
  </p>

</div>
