<%= form_with(model: competency) do |form| %>
  <% if competency.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(competency.errors.count, "error") %> prohibited this competency from being saved:</h2>

      <ul>
        <% competency.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.text_field :name, class:"form-control", placeholder: "Competency Name" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :short_desc, class:"form-control", placeholder: "Short Description" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :long_desc, class:"form-control", placeholder: "Long Description" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :industry, class:"form-control", placeholder: "Industry" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :primary_class, class:"form-control", placeholder: "Primary Class Competency Maps To" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :secondary_class, class:"form-control", placeholder: "Secondary Class Competency Maps To" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :mastery1, class:"form-control", placeholder: "Mastery Level 1" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :mastery2, class:"form-control", placeholder: "Mastery Level 2" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :mastery3, class:"form-control", placeholder: "Mastery Level 3" %>
  </div class="mb-3">

  <div class="mb-3">
    <%= form.text_field :owner, class:"form-control", placeholder: "Owner" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
