<%= form_with(model: competency) do |form| %>
  <% if competency.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(competency.errors.count, "error") %> prohibited this competency from being saved:</h2>

      <ul>
        <% competency.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :short_desc, style: "display: block" %>
    <%= form.text_field :short_desc %>
  </div>

  <div>
    <%= form.label :long_desc, style: "display: block" %>
    <%= form.text_field :long_desc %>
  </div>

  <div>
    <%= form.label :industry, style: "display: block" %>
    <%= form.text_field :industry %>
  </div>

  <div>
    <%= form.label :primary_class, style: "display: block" %>
    <%= form.text_field :primary_class %>
  </div>

  <div>
    <%= form.label :secondary_class, style: "display: block" %>
    <%= form.text_field :secondary_class %>
  </div>

  <div>
    <%= form.label :mastery1, style: "display: block" %>
    <%= form.text_field :mastery1 %>
  </div>

  <div>
    <%= form.label :mastery2, style: "display: block" %>
    <%= form.text_field :mastery2 %>
  </div>

  <div>
    <%= form.label :mastery3, style: "display: block" %>
    <%= form.text_field :mastery3 %>
  </div>

  <div>
    <%= form.label :owner, style: "display: block" %>
    <%= form.text_field :owner %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
