<h1>Professional Defined Competencies List</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th><%= link_to "Name", :sort => "name" %></th>
      <th>Description</th>
      <th><%= link_to "Industry", :sort => "industry" %></th>
      <th><%= link_to "Class", :sort => "primary_class" %></th>
      <th>Mastery Level 1</th>
      <th>Mastery Level 2</th>
      <th>Mastery Level 3</th>
      <th><%= link_to "Owner", :sort => "owner" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @competencies.each do |competency| %>
      <tr>
        <td><%= link_to competency.name, competency %></td>
        <td><%= competency.short_desc %></td>
        <td><%= competency.industry %></td>
        <td><%= competency.primary_class %></td>
        <td><%= competency.mastery1 %></td>
        <td><%= competency.mastery2 %></td>
        <td><%= competency.mastery3 %></td>
        <td><%= competency.owner %></td>
        <td><%= link_to "Delete", competency, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New competency", new_competency_path, class:"btn btn-success" %>