<p style="color: green"><%= notice %></p>

<%= render @competency %>

<div>
  <%= link_to "Edit this competency", edit_competency_path(@competency) %> |
  <%= link_to "Back to competencies", competencies_path %>

  <%= button_to "Destroy this competency", @competency, method: :delete %>
</div>
