<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Hook:</strong>
    <%= project.hook %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= project.product %>
  </p>

  <p>
    <strong>Primary class:</strong>
    <%= project.primary_class %>
  </p>

  <p>
    <strong>Secondary class:</strong>
    <%= project.secondary_class %>
  </p>

</div>
