<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<h4>Coming soon - Guided project builder for teachers to design projects connected to industry competencies.</h4>

<%= content_tag :div, class: "container mt-5" do %>
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-md-4 mb-4">
        <%= link_to project do %>
          <div class="card">
            <%= image_tag project.avatar, class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= project.name %></h5>
              <p class="card-text"><%= project.description %></p>
              <p class="card-text"><small class="text-muted">Posted <%= time_ago_in_words(project.created_at) %> ago</small></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<!--<%= link_to "New project", new_project_path %>-->
