<div id="<%= dom_id teacher %>">
  <p>
    <strong>Ikigai:</strong>
    <%= teacher.ikigai %>
  </p>

  <p>
    <strong>Interest 1:</strong>
    <%= teacher.interest_1 %>
  </p>

  <p>
    <strong>Interest 2:</strong>
    <%= teacher.interest_2 %>
  </p>

  <p>
    <strong>Interest 3:</strong>
    <%= teacher.interest_3 %>
  </p>

  <p>
    <strong>Interest 4:</strong>
    <%= teacher.interest_4 %>
  </p>

  <p>
    <strong>Interest 5:</strong>
    <%= teacher.interest_5 %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= teacher.birthday %>
  </p>

  <p>
    <strong>Is cte:</strong>
    <%= teacher.is_CTE %>
  </p>

  <p>
    <strong>Alma mater:</strong>
    <%= teacher.alma_mater %>
  </p>

  <p>
    <strong>Eks 1:</strong>
    <%= teacher.eks_1 %>
  </p>

  <p>
    <strong>Eks 2:</strong>
    <%= teacher.eks_2 %>
  </p>

  <p>
    <strong>Eks 3:</strong>
    <%= teacher.eks_3 %>
  </p>

  <p>
    <strong>Eks 4:</strong>
    <%= teacher.eks_4 %>
  </p>

  <p>
    <strong>Eks 5:</strong>
    <%= teacher.eks_5 %>
  </p>

  <p>
    <strong>Eks 6:</strong>
    <%= teacher.eks_6 %>
  </p>

  <p>
    <strong>Eks 7:</strong>
    <%= teacher.eks_7 %>
  </p>

  <p>
    <strong>Eks 8:</strong>
    <%= teacher.eks_8 %>
  </p>

  <p>
    <strong>Eks 9:</strong>
    <%= teacher.eks_9 %>
  </p>

</div>
