<div id="<%= dom_id internship %>">

  <p>
    <strong>Company:</strong>
    <%= internship.company %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= internship.industry %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= internship.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= internship.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= internship.end_date %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= internship.contact %>
  </p>

  <p>
    <%= link_to "Apply Now", internship.application_link, class:"btn btn-success", target: :_blank %>
  </p>

  <p>
    <%= image_tag(internship.avatar) if internship.avatar.attached? %>
  </p>

</div>
