<h1>Internship Opportunities</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Company</th>
      <th><%= link_to "Industry", :sort => "industry" %></th>
      <th>Description</th>
      <th>Start Date</th>
      <th>Contact</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @internships.each do |internship| %>
      <tr>
        <td><%= image_tag internship.avatar.variant(resize_to_limit: [200, 200]) if internship.avatar.attached? %></td>
        <td><%= link_to internship.company, internship %></td>
        <td><%= internship.industry %></td>
        <td><%= internship.description %></td>
        <td><%= internship.start_date %></td>
        <td><%= internship.contact %></td>
        <td><%= link_to "Apply Now", internship.application_link, class:"btn btn-success", target: :_blank %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <%= link_to "New Internship", new_internship_path, class:"btn btn-success" %>
<% end %>