<p style="color: green"><%= notice %></p>

<%= render @internship %>

<div>
  <%= link_to "Back to internships", internships_path, class:"btn btn-dark"  %>
  <% if policy(@internship).destroy? %>
    <%= link_to "Edit this internship", edit_internship_path(@internship), class:"btn btn-secondary" %>
    <%= button_to "Delete this internship", @internship, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <% end %>
</div>
